.page-header {
    text-align: center;
    background-color: #b3ccff;
    margin-top: 0;
    padding: 20px 20px 20px 40px;
}

.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
    color: #000066;
    font-size: 36pt;
    text-decoration: none;
    text-align: center;
}

.main-body p {
	text-align: center;
	font-size: 24;
	color: #000000
	}

.content-container {
	position: absolute;
	margin-top: 10px;	
}

h1, h2, h3, h4 {
    font-family: 'Lobster', cursive;
}

.date {
    font-size: 12pt;
    color: #828282;
}

.save {
    float: right;
}

.post-form textarea, .post-form input {
    width: 100%;
}

.top-menu, .top-menu:hover, .top-menu:visited {
    color: #ffffff;
    float: right;
    font-size: 26pt;
}

.post {
    margin-bottom: 70px;
    width:100%;
    text-align:center;
    font-size: 16pt;
    color: #000066
}

.post h1 a, .post h1 a:visited {
    color: #000000;
    font-size: 24pt;
}

footer { 
    text-align: center;
    display: block;
}